*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{
    font-family: 'Montserrat', sans-serif;
}

/* ____________generali_____________ */

.flex{
    display: flex ;
}


a{
    text-decoration: none;
    color: rgb(115, 115, 115);
    font-weight: bold;
}

ul{
    list-style-type: none;
}

/* _____________HEADER________________ */

/* ######### navbar verticale ######## */

#nav_vertical{
    width: 250px;
    height: 100%;
    background-color: black;

    flex-flow: column wrap;
    justify-content: space-between;
    gap: 20em;
   
    padding: 1em 0;
    padding-right: 3em;
    padding-left: 1em;
    color: rgb(115, 115, 115);

    line-height: 3em;

    font-size: 15px;
}

#nav_vertical #upper_nav{
    flex-direction: column;
    gap: 1em;
}

.logo-big img{
    height: 3em;
}

.logo-small{
    display: none;
}


.vertical_menu img, 
.logo-small img{
    height: 2em;
}

#nav_vertical .nav_install{
    border-bottom: 2px solid darkgray;
}

.nav_install a,
.nav_user a,
.vertical_menu a{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0.5em 0 ;
}

#bottom_nav a > img{
    padding: 0 0.1em;
}

.nav_install img{
    height: 1.4em;
}


#nav_vertical .nav_user img{
    height: 30px;
    object-position: center;
    border-radius: 50%;   
    margin-right: 0.5em;
    background-color: darkgray;
  }

















/* ***************************************
***************MEDIAQUERY*****************
*************************************** */

@media screen and (max-width: 576px){
    header nav #nav_vertical{
        width: 30px;
    }

    #nav_vertical .logo-small{
        display: block;
    }

    #nav_vertical .logo-big{
        display: none;
    }

    #nav_vertical .create_playlist{
        display: none;
    }

    .to_hide{
        display: none;
    }

    #bottom_nav .nav_install{
        border: 0px;
    }

    
}