*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{
    font-family: 'Montserrat', sans-serif;
}

/* ////////CONTAINER GENERALI/////// */

#ui{
    width: 100vw;
    height: 100vh;
}

#main_content{
    display: flex;
    flex-direction: row;

    height: calc(100% - 90px);
}

#main_content header{
    width: 250px;
    height: 100%;
   
    background-color: black;
    color: white;
}

#main_content main{
    width: calc(100% - 250px);
    height: 100%;
    
    background-color: rgb(27, 27, 27);
}

footer{
    height: 90px;
    background-color: rgb(51, 51, 51);
}

/* *************generali************ */

.flex{
    display: flex;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

img{
    display: block;
}

button{
    cursor: pointer;
}

/* _____________SIDEBAR_____________ */


.sidebar{
    flex-direction: column;
    justify-content: space-between;

    padding-right: 3rem;
}

.sidebar #upper_side{
    height: 75%;
}

.sidebar #bottom_side{
    width: 100%;
    height: 15%;

    padding: 0 1rem;
}

#upperside{
    flex-direction: column;
    gap: 10px;
}

.sidebar a,
.create_playlist a{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.4);
}


/* //////PARTE SOPRA///// */
/* logo____ */

.logos{
    padding: 1rem;
}

.logo-small{
    display: none;
}

.logo-small img{
    height: 40px;
}

/* menu_____ */

.side_menu a{
    display: flex;
    align-items: center;

    padding-top: 10px;
}

.side_menu li{
    padding: 0 1rem;
}

.side_menu a > img{
    height: 40px;
    opacity: 0.4;
}

/* playlist_____ */

.create_playlist i{
    font-size: 2rem;
}

.create_playlist{
    line-height: 1.8rem;
    padding: 1rem 1rem;
}

.create_playlist > a{
    display: flex;
    align-items: center;
    gap: 5px;
}


/* //////PARTE SOTTO ///// */


#bottom_side a{
    display: flex;
    align-items: center;
    gap: 10px;
}

#bottom_side .side_install{
    padding: 10px 0;
    border-bottom: gray 2px solid;
}

#bottom_side .side_user{
    padding: 10px 0;
}

#bottom_side .side_install img{
    height: 30px;
}

#bottom_side .side_user img{
    height: 40px;
    background-color: gray;
    border-radius: 50%;
}


/* ********************************* */


/* ****************MAIN**************** */


/* upgrade bar_________ */

#main_content main .upgrade_bar{
    width: 100%;
    height: 80px;

    position: fixed;
    top: 0;
    right: 0;

    padding:20px;

    background-color: rgba(0, 0, 0, 0.2);

    text-align: right;
}

#main_content main .upgrade_bar .upgrade_btn{
    color: white;
    background-color: transparent;

    padding: 10px 30px;

    border: 2px solid white;
    border-radius: 30px;

    font-weight: bold;   
}






















/* *********************************** */


/* ****************FOOTER************ */

footer{
    justify-content: space-between;
}

footer a{
    color: white;
}


/* left______________________________ */

footer .footer_left{
    width: 100%;
    max-width: 300px;

    padding: 20px 10px;

    justify-content: space-between;
    align-items: center;
    gap: 15px;

    color: white;
}

/* albumcover */

footer .footer_left .album_cover{
    height: 100%;
}

footer .footer_left .album_cover img{
    height: 100%;
}

/* nome canzone */

footer .footer_left .song_name{
    flex-grow: 1;
    flex-direction: column;
}

footer .footer_left .song_name span{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3);
}

/* center____________________________ */

footer .footer_center{
    width: 100%;
    min-width: 300px;
    max-width: 600px;

    flex-direction: column;
}


/* barra pulsanti */

footer .footer_center .player_btns{
    height: 50%;
}

footer .footer_center .player_btns ul{
    height: 100%;

    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer .footer_center .player_btns i{
    font-size: 1.5rem;
}

/* barra riproduzione */


footer .footer_center .player_line{
    height: 50%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    font-size: 13px;

    color: white;
    font-weight: bold;
}

footer .footer_center .player_bar{
    flex-grow: 1;
}

footer .footer_center .bar_total{
    width: 100%;
    height: 4px;
    background-color: gray;
}

footer .footer_center .current_bar{
    width: 15%;
    height: 100%;
    background-color: white;
}

/* right__________________________ */

footer .footer_right{
    width: 100%;
    max-width: 300px;

    padding: 20px 10px;

    align-items: center;
    gap: 10px;
}


/* icone */

footer .footer_right .right_icons{
    width: 50%;
}

.right_icons ul{
    justify-content: space-between;
}


/* barra volume */

.volume_bar{
    flex-grow: 1;
}

.volume_bar_total{
    width: 100%;
    height: 4px;
    background-color: gray;
}

.volume_bar_current{
    height: 100%;
    width: 35%;
    background-color: white;
}























/* ************************************ */

/* ____________MEDIA QUERY_____________ */


@media screen and (max-width:576px){
    #main_content header{
        width: 80px;
        height: 100%;
    }

    #main_content main{
        width: calc(100% - 80px);
    }


    .logo-small{
        display: block;
    }

    .hide{
        display: none;
    }

    .create_playlist{
        display: none;
    }

}


















/* HOVER */



